<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->

  <title>Tina's Blog</title>
  <link rel="icon" type="" href="https://github.com/christine-nkatha">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Tina's Blog">
  <meta property="og:description" content="A collection of random musings.">
  <meta property="og:url" content="">
  <meta property="og:image" content="https://github.com/christine-nkatha">
  <meta property="profile:first_name" content="christine">
  <meta property="profile:last_name" content="nkatha">
  <meta name="theme-color" content="#131313">

  <!-- Bootstrap core CSS -->
  <!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='./vendor/font-awesome/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.chttps://github.com/christine-nkathahttps://github.com/christine-nkathaom/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/global.css')}}" rel="stylesheet" type="text/css">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top  zindex-tooltip bg-success" >
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">Tina's Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
            
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_random_blogs') }}">Random Quotes</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('loginUser') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('registerUser') }}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main Content -->
  <div class="mt-5 pt-1">
    {% for category, mesg in get_flashed_messages(with_categories=true) %}
  <h4 class="fixed-bottom {{category}} ">{{ mesg }}</h1>
  {% endfor %}
    {% block content %}
    {%endblock %}
</div>
{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>