
{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image:url('https://images.unsplash.com/photo-1638913660106-73b4bac0db09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tina's Blog</h1>
          <span class="subheading">Random life blogs</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in range(10) %}
      <div class="post-preview">
          <h2 class="post-title">
           post title
          </h2>
          <h3 class="post-subtitle">
            post subtitle
          </h3>
        <p class="post-meta">Posted by
        author name
          on post date
        
          <p>✘</p>
        
        </p>
      </div>
      {% endfor %}


  
      <div class="clearfix">
        <a class="btn btn-primary float-right" >Create New Post</a>
    
    </div>
  </div>
</div>
<hr>

{%endblock%}