
{% extends "base.html" %}
{% block content %}


  <!-- Page Header -->
  <header class="masthead" style="height:100vh;background-image: url('https://images.unsplash.com/photo-1648737119422-2680a7e39089?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="d-flex flex-column text-white text-center mt-3">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
          <div class="container">
            <form method="post" action="/login">
          
            <div class="d-flex flex-column my-2 form-group">
                  <label for="Email">Email</label>
                  <input type="text" name="Email"
                         placeholder="Email" class="form-control" required/>
                 
            </div>
              <div class="d-flex flex-column my-1 form-group">
                <label for="Password">Password</label>
                <input type="password" name="Password"
                       placeholder="Password" class="form-control" required/>
               
              </div>
             
              <p class="d-flex justify-content-center">  
                  <button type="submit" class="btn rounded btn-success">Login</button>
              </p>
          </form>
          </div>
        
        </div>
      </div>
    </div>
  </header>

  

{% endblock %}