{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<header class="masthead" style="min-height:100vh;background-image: url('/static/img/edit-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="d-flex flex-column text-white text-center mt-3">
          {% if is_edit %}
          <h1>Edit Post</h1>
          {% else %}
          <h1>New Post</h1>
          {% endif %}
          <span class="subheading">You're going to make a great blog post!</span>
        </div>
        <div class="container">
          <form method="post" action="/blog/create">
        
          <div class="d-flex flex-column my-2 form-group">
                <label for="title" class="text-white">Title</label>
                <input type="text" name="title"
                       placeholder="title" class="form-control" required/>
               
          </div>
            <div class="d-flex flex-column my-1 form-group">
              <label for="subtitle" class="text-white">Subtitle</label>
              <input type="text" name="subtitle"
                     placeholder="subtitle" class="form-control" required/>
             
            </div>
            <div class="d-flex flex-column my-1 form-group">
              <label for="content">Post Content</label>
              <br>
              <textarea name="content"
                        placeholder="post content"
                        rows="5"
                       
                        ></textarea>
            </div>
          
            <p class="d-flex justify-content-center">  
                <button type="submit" class="btn rounded btn-success">Save Post</button>
            </p>
        </form>
        </div>
      </div>
    </div>
  </div>
</header>


{% endblock %}


